<!DOCTYPE html>
<html ng-app='lazerTanx'>
  <head>
  <base href="/">
    <title>Lazer Tanx</title>

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body layout="column">
        <h1>Lazer Tanx</h1>
        <div ng-view layout='row'flex>

        </div>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/directives.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="/lib/angular-socket-io-master/socket.js"></script>
    <script src="/javascripts/game.js"></script>
  </body>
</html>
