body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container-flex{
    display:flex;
}
.bold{
    font-weight: 700;
}
 /*.ng-invalid input { border: 1px solid red; }*/
